@page "/"
@using BusinessLayer
@rendermode InteractiveServer
@using DataLayer.Model;
@inject IBusinessCar bus

<PageTitle>Counter</PageTitle>

<h1>Cars</h1>

<div class="container">
    <div class="row">
         @if (Lista != null)
            {
                @foreach(var item in Lista)
                {
        <div class="col-md-3">
           
                    <div class="card">
                        <img src="./car.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">Godine: @item.Year</p>
                            <p class="card-text">Cena: @item.Price</p>
                            <button type="button" @onclick="()=>Delete(item.Id)" class="btn btn-primary">Delete</button>
                        </div>
                    </div>
                
        </div>
            }
        }
    </div>
</div>


@code {

    public List<Car>?Lista{ get; set; }

    protected override void OnInitialized()
    {
        Lista = bus.GetCars();
    }

    private void Delete(int id)
    {
        Car car = bus.GetCars().Find(x => x.Id == id)!;
        if (bus.Delete(car) == "Automobil obrisan")
        {
            OnInitialized();
        }
    }

}
